# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS / editor
.DS_Store
.vscode/

# Logs / temp
*.log
*.tmp

# Mesh / FEM / output (MEGET relevant for dig)
*.vtk
*.vtu
*.msh
*.h5
*.xdmf